@model IEnumerable<WannaBreak.Models.VacancyList>

@{
    ViewData["Title"] = "searchNameResult";
}



<div>
    <table class="table table-hover">
        <thead>
            <tr>
                 <th>
                    @Html.DisplayNameFor(model => model.FK_EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacancyTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisteredDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_VacancyTypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredDate)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>