@model IEnumerable<Employee>
@{
    ViewData["Title"] = "DisplayEmployees";
}

<h3>DisplayEmployees</h3>
<div class="table-responsive">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>      
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => employee.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => employee.FirstName)
                    </td>
                     <td>
                        @Html.DisplayFor(model => employee.LastName)
                    </td>
                     <td>
                        @Html.DisplayFor(model => employee.Phone)
                    </td>
                     <td>
                        @Html.DisplayFor(model => employee.Email)
                    </td>
                     <td>
                        @Html.DisplayFor(model => employee.Role)
                    </td>              
                </tr>
            }
        </tbody>
    </table>
</div>
